@model AccountDeletePageViewModel
@{
    ViewData["Title"] = "Verwijder account";
}

<div class="container">
    <div class="row">
        <p>Weet je zeker dat je het account wilt verwijderen?</p>
    </div>
    <div class="row">
        <form method="post">
            <a asp-controller="Admin" asp-action="AccountDelete" asp-route-Id="@Model.Id" class="btn btn-danger">Verwijder account</a>
        </form>
    </div>
</div>