@model AccountDeletePageViewModel
@{
    ViewData["Title"] = "Verwijder account";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="row">
        <p>Weet je zeker dat je het account wilt verwijderen?</p>
    </div>
    <div class="row">
        <form method="post" asp-controller="Admin" asp-action="AccountDelete" asp-route-Id="@Model.Id">
            <button class="btn btn-danger">Verwijder account</button>
        </form>
    </div>
</div>