@model AdminAccountPageViewModel

@{
    Layout = "_LayoutAdmin";
}
<h1>Accounts</h1>
<p>
    <a asp-area="" asp-controller="Account" asp-action="RegisterPage">Maak een nieuw account aan</a>
</p>
<table class="table table-striped table-bordered table-sm " style="max-width:100%">
    <tr>
        <th>
            Gebruikersnaam
        </th>
        <th>
            Email
        </th>
        <th>
            Opties
        </th>
    </tr>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Wijzig</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
