@model AdminAccountPageViewModel

@{
    Layout = "_LayoutAdmin";
}
<h1>Accounts</h1>
<form class="form-inline" asp-action="AdminAccountPage" asp-controller="Admin">
    <input class="form-control mr-sm-" type="text" placeholder="Zoek een username" name="id" style="width:350px;">
</form>

<table class="table table-striped table-bordered table-sm " style="max-width:100%">
    <tr>
        <th class="header">
            Gebruikersnaam
        </th>
        <th>
            Email
        </th>
        <th>
            Opties
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form method="post" asp-controller="Account" asp-action="AccountDelete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger">Verwijder</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>