@{
    ViewData["Title"] = "Success!";
}

<div id="CreateSuccessRegristration">
    <div class="container">
        <h2 class="text-md-left"> De mail is met succes verzonden</h2>
        <br />
        <form class="form-check" asp-action="AdminNewsletterPage">
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Ga door</button>
            </div>
        </form>
    </div>
</div>
