@model EditRoleViewModel

@{
    ViewBag.Title = "Wijzig Role";
    Layout = "_LayoutAdmin";
}

<h1>Rol</h1>

<form method="post" class="mt-3">
    <div class="form-group row">
        <div class="col-sm-10">
            <h5 class="card-title">@Model.RoleName</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Gebruikers in deze rol</h3>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">Geen gebruikers</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditUsersInRole" asp-controller="Admin" asp-route-roleId="@Model.Id" class="btn btn-primary" style="width:auto">Gebruikers toevoegen of verwijderen</a>
        </div>
    </div>

    <br />

    <a asp-action="ListRoles" class="btn btn-primary">Terug naar rollen</a>
</form>
