@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Alle Rollen";
    Layout = "_LayoutAdmin";
}

<h1>Alle rollen</h1>

@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Admin" asp-action="EditRole" asp-route-id="@role.Id">Toon gebruikers</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Er zijn nog geen rollen aangemaakt
        </div>
    </div>
}
