
@{
    ViewData["Title"] = "ChangeCoachFail";
    Layout = "_LayoutAdmin";
}

<h1>Oeps!</h1>

<h3 class="text-md-left">Foutmelding</h3>
<p class="card-text">
    Er is een fout opgetreden tijdens het wijzigen van de coach
</p>
<br />
<a asp-area="" asp-controller="Coach" asp-action="Coaches" class="btn btn-outline-primary">Terug naar Coaches</a>
<hr />

