@{
    ViewData["Title"] = "Coach verwijderd";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="row">
        <h1>De coach is van de lijst met coaches verwijderd!</h1>
    </div>
    <div class="row">
        <b class="text-dark">@Html.ActionLink("Terug naar coaches", "Coaches", "Coach")</b>
    </div>
</div>
