@{
    ViewData["Title"] = "Coach verwijdert";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <h1>De coach is van de lijst met coaches verwijdert!</h1>
    </div>
    <div class="row">
        <b class="text-dark">@Html.ActionLink("Terug naar coaches", "Coaches", "Coach")</b>
    </div>
</div>
