@{
    ViewData["Title"] = "Coach toegevoegd";
}

<div id="CreateSuccess">
    <div class="container">
        <h2 class="text-md-left"> Coach is toegevoegd! </h2>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Terug naar home</a>
    </div>
</div>
