@model Coach

@{
    ViewData["Title"] = "Coach toegevoegd";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="CreateSuccess">
    <div class="container">
        <h2 class="text-md-left"> Coach is toegevoegd! </h2>
        <br />
        <a asp-area="" asp-controller="Coach" asp-action="Coaches" class="btn btn-outline-primary">Ga door</a>
    </div>
</div>
