@model CoachDeleteViewModel
@{
    ViewData["Title"] = "Verwijder coach";
}

<div class="container">
    <div class="row">
        <h1>Verwijder coach: <i>@Model.Name</i></h1>
    </div>
    <div class="row">
        <p>Weet je zeker dat je <i>@Model.Name</i> als coach wil verwijderen?</p>
    </div>
    <div class="row">
        <a href='@string.Format("/Coach/DeleteCoach?coachID={0}", Model.CoachId)' class="btn btn-danger">Verwijder coach</a>
    </div>
</div>
