
@{
    ViewData["Title"] = "Account verwijderd";
}

<div class="container">
    <div class="row">
        <h1>Het account is succesvol verwijderd</h1>
    </div>
    <div class="row">
        <b class="text-dark">@Html.ActionLink("Homepagina", "Index", "Home")</b>
    </div>
</div>