@model EventPlanner.ViewModels.AccountPasswordChangeViewModel

@{ ViewData["Title"] = "Wachtwoord wijzigen";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Wachtwoord wijzigen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AccountPasswordChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Bijwerken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AccountPage">Terug</a>
</div>

