@model EventsViewModel
@{
    ViewData["Title"] = "Aangemelde evenementen";
}

<h1>Aangemelde evenementen</h1>
<br />

@foreach (var item in Model.Events)
{
    <partial name="_EventTemplatePartial" model="item" />
}