@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6 col-sm-12">
            <div id="login-box" class="col-md-12 col-sm-12">
                <form id="login-form" class="form" method="post">
                    <h3 class="text-center text-info">Login</h3>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="text-info">Gebruikersnaam:</label><br>
                        <input asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <label asp-for="Password">Wachtwoord:</label><br>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <br />
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-login btn-md" value="Login">
                        <a class="text-info text-right" asp-area="" asp-controller="Account" asp-action="Register">Heeft u nog geen account? Registreer hier!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
