@model LoginViewModel

@{
    ViewData["Title"] = "LoginPage";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 40%;
            max-width: 600px;
            height: 320px;
            border: 1px solid black;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }

        .text-info {
            color: black !important;
        }

        a.text-info:hover, a.text-info:focus {
            color: grey !important;
        }

        .btn-login {
            color: black;
            background-color: #fcd703;
            border-color: #fcca03;
        }

            .btn-login:hover {
                color: black;
                background-color: #fcca03;
                border-color: #fcc203;
            }
    </style>
</head>
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" asp-action="Login" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label asp-for="Username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" asp-for="Username" class="form-control">
                            </div>
                            <label asp-for="Password">Password:</label><br>
                            <input type="password" name="password" id="password show_hide_password" asp-for="Password" class="form-control">
                            <br />
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-login btn-md" value="submit">
                                <a class="text-info text-right" asp-area="" asp-controller="Account" asp-action="RegisterPage">Heeft u nog geen account? Register hier!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
