@{
    ViewData["Title"] = "RegisterPage";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }

        #register .container #register-row #register-column #register-box {
            margin-top: 25%;
            max-width: 600px;
            height: 420px;
            border: 1px solid black;
            background-color: #EAEAEA;
        }

            #register .container #register-row #register-column #register-box #register-form {
                padding: 20px;
            }

                #register .container #register-row #register-column #register-box #register-form #register-link {
                    margin-top: -85px;
                }

        .text-info {
            color: black !important;
        }

        a.text-info:hover, a.text-info:focus {
            color: grey !important;
        }

        .btn-register {
            color: black;
            background-color: #fcd703;
            border-color: #fcca03;
        }

            .btn-register:hover {
                color: black;
                background-color: #fcca03;
                border-color: #fcc203;
            }
    </style>
</head>
<body>
    <div id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Register</h3>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="middel_name" id="middel_name" class="form-control input-sm" placeholder="Middel name">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="Zip code">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="street_name" id="street_name" class="form-control input-sm" placeholder="Street name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                            </div>

                            <div class="form-group">
                                <input type="date" id="birthDate" class="form-control">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-register btn-md" value="submit">
                                <a class="text-info text-right" asp-area="" asp-controller="Account" asp-action="LoginPage">Heeft u al een account? Log hier in!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
