body {
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.btn-outline-primary {
    color: #000000;
    background-color: #ffe000;
    border-color: #ffe000;
}

.btn-outline-primary:hover {
        color: #000000;
        background-color: #ffe000;
        border-color: #000000;
    }