<div id="CreateSuccess">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class="text-center">Toegang geweigerd.</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <hr />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row justify-content-center">
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-continue" style="margin: 0 auto;">Login met juiste account</a>
                </div>
            </div>
        </div>
    </div>
</div>
