<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v6.0"></script>
    <title>@ViewData["Title"] - EventPlanner</title>

    <style>
        body {
            position: relative;
            padding-bottom: 58px;
            min-height: 100vh;
        }

        footer {
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
            padding: 10px;
            margin-right: auto;
            margin-left: auto;
        }


        .fa {
            padding: 20px;
            font-size: 30px;
            width: 60px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

            /* Add a hover effect if you want */
            .fa:hover {
                opacity: 0.7;
            }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v6.0"></script>
    <title>@ViewData["Title"] - EventPlanner</title>


</head>
<body>
    <main>
        <div class="container">
            <br />
            <nav class="navbar navbar-expand-sm" style="padding: 1px; ">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/Logo.png" alt="Logo" style="width:60px;">
                </a>

                <form class="form-inline" asp-action="" asp-controller="Event">
                    <input class="form-control mr-sm-" type="text" placeholder="Zoek een evenement" style="width:350px;">
                    <input type="submit" class="btn btn-login btn-md" value="submit">
                </form>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Event" asp-action="Events" style="color:black" onMouseOver="this.stylegit .color='#7e8691'"
                           onMouseOut="this.style.color='#000'"> Evenementen </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Event" asp-action="CreateEvent" style="color:black" onMouseOver="this.stylegit .color='#7e8691'"
                           onMouseOut="this.style.color='#000'"> Maak evenement </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LoginPage" style="color:black" onMouseOver="this.stylegit .color='#7e8691'"
                           onMouseOut="this.style.color='#000'"> Login </a>
                    </li>
                </ul>
            </nav>
            <hr />
            <br>


            @RenderBody()

        </div>
    </main>
    <footer class="container">
        <div class="row">
            <div class="text-md-left col-md-4 col-lg-5">
                <div class="col">
                    <h5 class="text-uppercase">Social Media</h5>
                    <a href="https://www.facebook.com/teamrockstarsit/" class="fa fa-facebook"></a>
                    <a href="https://www.youtube.com/channel/UCvJNUHHMT1aDyjEUlEBaiFQ" class="fa fa-youtube"></a>
                    <a href="https://www.instagram.com/teamrockstarsit/?hl=nl" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/company/teamrockstars/" class="fa fa-linkedin"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <p class="copyright text-muted">Copyright © Rockstars IT 2020</p>
            </div>
            <div class="text-md-right col-md-5 col-lg-4 ml-lg-0">
                <div class="col">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.teamrockstars.nl/">Team Rockstars IT</a>
                        </li>
                        <li>
                            <a href="https://www.teamupit.nl/">Rockstars IT Evenement Planner</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    </footer>

</body>
</html>
