@{
    ViewData["Title"] = "Fail!";
}

<div id="CreateSuccessRegristration">
    <div class="container">
        <h2 class="text-md-left">Deze email is al aangemeld!</h2>
        <br />
        <form class="form-check" asp-action="Index">
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Probeer opnieuw</button>
            </div>
        </form>
    </div>
</div>
