@{
    ViewData["Title"] = "Home Page";
}

    <div class="clearfix">
        <img src="https://www.teamrockstars.nl/sites/default/files/styles/360x276/public/2020-02/RST-122-Anual2020-1ST-UpperSouth-eventwebsite.jpg?itok=fkPwqZPo" alt="..." class="float-left">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum ut egestas ex, vel finibus lacus. Ut risus eros, tempus eget ligula gravida, bibendum accumsan ante.
            Nunc sit amet odio suscipit, sodales tellus quis, rutrum nulla. Integer varius, lacus ac dictum feugiat, augue leo mollis urna, non congue ipsum massa ut ipsum. Nunc sem leo, euismod id faucibus nec, vulputate non odio. Phasellus fringilla nulla dui, at efficitur neque semper id.
            Praesent auctor consequat augue, vel finibus turpis luctus quis. Pellentesque volutpat euismod finibus. Curabitur dapibus in justo quis tincidunt. Nulla eleifend non mi ut ornare.
            <br></br>
            <a href="#">Meer Informatie</a>
        </p>
    </div>
