
@{
    ViewData["Title"] = "CategoryDeleted";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="row">
        <h1>De categorie is verwijderd!</h1>
    </div>
    <div class="row">
        <b class="text-dark">@Html.ActionLink("Terug naar categorieën", "Categories", "Event")</b>
    </div>
</div>