@model CategoriesViewModel
@{
    ViewData["Title"] = "Categorieën";
}

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="container">
    <h2>Categorieën</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Zoek een categorie..">
    <br>
    <ul class="list-group" id="myList">
        @foreach (var item in Model.Categories)
        {
            <li class="list-group-item">@Html.ActionLink(item.CategorieName, "CategoryPage", new { CategoryId = item.CategorieId })</li>
        }
    </ul>
</div>
