
@{
    ViewData["Title"] = "CategorieCreated";
    <link href="~/css/site.css" rel="stylesheet" />
}
<div id="CreateSuccess">
    <div class="container">

        <h1 class="text-center">De categorie is aangemaakt.</h1>
        <hr />
        <div class="row justify-content-center">
            <a asp-area="" asp-controller="Event" asp-action="Categories" class="btn btn-continue" style="margin: 0 auto;">Ga door</a>
        </div>
    </div>
</div>
