@model EventPlanner.Models.Event

@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Evenement informatie</h1>
                <br />
            </div>
        </div>

<hr />
<div class="container padding">
    <div class="container row">
        <div class="container col-md-4">
            <form asp-action="CreateEvent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EventName" class="control-label"></label>
                    <input asp-for="EventName" class="form-control" />
                    <span asp-validation-for="EventName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VisitorLimit" class="control-label"></label>
                    <input asp-for="VisitorLimit" class="form-control" />
                    <span asp-validation-for="VisitorLimit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control " />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageSrc" class="control-label"></label>
                    <input asp-for="ImageSrc" class="form-control" />
                    <span asp-validation-for="ImageSrc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Maak aan" class="btn btn-primary center" />
                </div>
            </form>
        </div>
    </div>
</div>