@model EventViewModel

@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Google Maps JavaScript library -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCMGzFaY4NywUNBSz80pFEuncUHgze1uQo"></script>
}

<div id="CreateEvent">
    <div class="container">
        <div id="CreateEvent-row" class="row justify-content-center align-items-center">
            <div id="CreateEvent-column" class="col-md-6">
                <div id="CreateEvent-box" class="col-md-12">
                    <form id="CreateEvent-form" class="form" asp-action="CreateEvent" enctype="multipart/form-data">
                        <h1>Evenement informatie</h1>
                        <hr />
                        <div class="form-group">
                            <label asp-for="EventName" class="control-label"></label>
                            <input asp-for="EventName" class="form-control" placeholder="Evenement naam.." />
                            <span asp-validation-for="EventName" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <input asp-for="Date" class="form-control" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="VisitorLimit" class="control-label"></label>
                                    <input asp-for="VisitorLimit" class="form-control" />
                                    <span asp-validation-for="VisitorLimit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Beschrijving.."></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" type="text" class="form-control" id="search_input" placeholder="Plaats en adress..." />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email.." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EventType" class="control-label"></label>
                            <select asp-for="EventType" class="form-control" placeholder="Eventtype..">
                                @foreach (var item in Model.Categories)
                                {
                                    <option value="@item.CategorieName">@item.CategorieName</option>
                                }
                            </select>
                            <span asp-validation-for="EventType" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ForEmployees" class="control-label"></label>
                            <select asp-for="ForEmployees" asp-items="@Html.GetEnumSelectList<EventGroup>()" class="form-control"></select>
                            <span asp-validation-for="ForEmployees" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="files" class="control-label"></label><br>
                            <input asp-for="files" type="file" name="files" multiple />
                            <span asp-validation-for="files" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Maak aan" class="btn btn-Create" />
                        </div>
                        <a asp-action="Events">Alle evenementen</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Autocomplete location search input -->
<script>
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
            /*componentRestrictions: {
             country: "Netherlands"
            }*/
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
        });
    });
</script>
