
@{
    ViewData["Title"] = "Event verwijdert";
}

    <div class="container">
        <div class="row">
            <h1>Het event is van de lijst met events verwijdert!</h1>
        </div>
        <div class="row">
            <b class="text-dark">@Html.ActionLink("Terug naar events", "Events", "Event")</b>
        </div>
    </div>