
@{
    ViewData["Title"] = "Foutmelding";
}



<div id="CreateSuccess">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class="text-center">Er is helaas geen evenement gevonden.</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <hr />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row justify-content-center">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-continue" style="margin: 0 auto;">Terug</a>
                </div>
            </div>
        </div>
    </div>
</div>
