@{
    ViewData["Title"] = "Evenement aangemaakt";
    Layout = "_LayoutAdmin";
}

<div id="CreateSucces">
    <div class="container">
        <h2 class="text-md-left"> Evenement succesvol aangemaakt!</h2>
        <br />
        <a asp-area="" asp-controller="Admin" asp-action="AdminEventPage" class="btn btn-outline-primary">Ga door</a>
    </div>
</div>