@{
    ViewData["Title"] = "Geen evenementen gevonden";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Deze pagina bevat geen evenementen.</h1>
        </div>
    </div>
</div>