@model EventJoinPageViewModel
@{
    ViewData["Title"] = "Aanmelding succesvol";
}

<div id="CreateSuccessRegristration">
    <div class="container">
        <h2 class="text-md-left"> Je bent succesvol aangemeld voor het evenement!</h2>
        <br />
        <form class="form-check" asp-action="EventPage">
            <div class="form-group">
                <input asp-for="EventId" type="hidden" />
                <button class="btn btn-outline-primary" type="submit">Ga door</button>
            </div>
        </form>
    </div>
</div>
