@{
    ViewData["Title"] = "Coach verwijderd";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="row">
        <h1>De feedback is uit de lijst met feedback verwijderd!</h1>
    </div>
    <div class="row">
        <b class="text-dark">@Html.ActionLink("Terug naar de startpagina", "Index", "Home")</b>
    </div>
</div>
