@model EventsViewModel
@{
    ViewData["Title"] = "Event geregistreerd";
}

<h1>Alle Evenementen</h1>
<br />

@foreach (var item in Model.Events)
{
    <partial name="_EventTemplatePartial" model="item" />
}