@model EventDeleteViewModel
@{
    ViewData["Title"] = "Verwijder evenement";
    Layout = "_LayoutAdmin";
}

    <div class="container">
        <div class="row">
            <h1>Verwijder evenement: <i>@Model.EventName</i></h1>
        </div>
        <div class="row">
            <p>Weet je zeker dat je <i>@Model.EventName</i> als evenement wil verwijderen?</p>
        </div>
        <div class="row">
            <a href='@string.Format("/Event/DeleteEvent?eventId={0}", Model.EventId)' class="btn btn-danger">Verwijder evenement</a>
        </div>
    </div>