@{
    ViewData["Title"] = "Add Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CreateSuccess">
    <div class="container">
        <h2 class="text-md-left"> Evenement succesvol aangemaakt!</h2>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Ga door</a>
    </div>
</div>