@model Event

@{
    ViewData["Title"] = "Add Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .btn-Create {
            color: black;
            background-color: #fcd703;
            border-color: #fcca03;
        }

            .btn-Create:hover {
                color: black;
                background-color: #fcca03;
                border-color: #fcc203;
            }
    </style>
}
<b>Images:</b>
<form method="post" asp-action="UploadImage" asp-controller="Event" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <br />
    <br />
    <input type="submit" value="Upload" class="btn btn-Create" />
</form>