@model EventsViewModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Events";
}

<h1>Verwijderde Evenementen</h1>
<br />

@foreach (var item in Model.Events)
{
    <partial name="_EventTemplatePartial" model="item" />
}