@model EventsViewModel
@{
    ViewData["Title"] = "Events";
}


<h1>Alle Evenementen</h1>
<br />

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categorieën
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model.Categories)
        {
            <a class="dropdown-item" asp-controller="Event" asp-action="CategoryPage" asp-route-CategoryId="@item.CategorieId">@item.CategorieName</a>
        }
        <hr />
        <a class="dropdown-item" asp-controller="Event" asp-action="Categories">Zoek een categorie</a>
    </div>
</div>

@foreach (var item in Model.Events)
{
    <partial name="_EventTemplatePartial" model="item" />
}