@model Event
@{
    ViewData["Title"] = "View";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
        }
                #CreateSuccess .container {
            margin-top: 10%;
            max-width: 600px;
            height: 320px;
            border: 1px solid black;
            background-color: white;
            padding:20px;
        }

    </style>
</head>
<body>
    <div id="CreateSuccess">
        <div class="container">
            <h1 class="text-center"> @*@Model.EventName*@ (Event name)</h1>
            <hr />
            <p>Het evenement (Event name) is aangemaakt</p>
            <h3>Informatie</h3>
            <p><b>Event Name: </b>(Event Name)</p>
            <p><b>Date: </b>(date)</p>
            <p><b>Visitor Limit: </b>(Visitor limit)</p>
            <p><b>Location: </b>(Location)</p>
            <p><b>Email: </b>(Email)</p>
        </div>
    </div>
</body>
</html>


