
@{
    ViewData["Title"] = "Foutmelding";
    Layout = "_LayoutAdmin";
}

<h1>Oeps!</h1>

<h3 class="text-md-left">Foutmelding</h3>
<p class="card-text">
    Er is een fout opgetreden tijdens het aanmaken van het evenement
</p>
<br />
<a asp-area="" asp-controller="Event" asp-action="EventCreate" class="btn btn-outline-primary">Probeer opnieuw</a>
<hr />