@model IEnumerable<Event>
@{
    ViewData["Title"] = "Events";
}

<h1>Gearchiveerde Evenementen</h1>
<br />
@foreach (var item in Model)
{
    <partial name="_EventTemplatePartial" model="item" />
    <br />
}