@model Event

@{
    ViewData["Title"] = "Add Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
    
    </style>
}

<div id="CreateSuccess">
    <div class="container">
        <h1 class="text-center"> Event creation was successful!</h1>
        <hr />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-md">Continue</a>
    </div>
</div>