@model Event
@{
    ViewData["Title"] = "EventsJoin";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>@Model.EventName</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded" style="max-width: 100%" src="~/Images/@Model.ImageSrc" />
                </div><div class="col-lg-8">
                    <p>@Model.Description</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6">
            <form>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label>Voornaam</label>
                        <input type="text" class="form-control" placeholder="Voornaam" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Achternaam</label>
                        <input type="text" class="form-control" placeholder="Achternaam" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>Woonplaats</label>
                        <input type="text" class="form-control" placeholder="Woonplaats" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Provincie</label>
                        <input type="text" class="form-control" placeholder="Provincie" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Postcode</label>
                        <input type="text" class="form-control" placeholder="Postcode" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Meld me aan</button>
            </form>
        </div>
    </div>
</div>


