@model EventArchiveViewModel
@{
    ViewData["Title"] = "Evenementen archief";
}

<h1>Gearchiveerde Evenementen</h1>
<br />
@foreach (var item in Model.Events)
{
    <partial name="_EventTemplatePartial" model="item" />
    <br />
}