
@{
    ViewData["Title"] = "EventCreateFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oops!</h1>

        <h3 class="text-md-left">Fout melding</h3>
        <p class="card-text" >
            Er is een fout opgetreden tijdens het aanmaken van het evenement.
        </p>
        <br />
        <a asp-area="" asp-controller="Event" asp-action="CreateEvent" class="btn btn-outline-primary">Probeer opnieuw</a>
<br />
<br />
<br />