
@{
    ViewData["Title"] = "EventPage";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>Back to home</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h1>Title event</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>Image</p>
        </div>
        <div class="col-8">
            <p>Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>Location</p>
        </div>
    </div>
</div>
