
@{
    ViewData["Title"] = "Foutmelding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oops!</h1>

<h3 class="text-md-left">Fout melding</h3>
<p class="card-text">
    Het lijkt erop dat dit helaas niet kan.
    Ga terug naar de homepagina om het opnieuw te proberen.
</p>
<br />
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Probeer opnieuw</a>
<hr />